# Ignore all raw data by default
data/*

# Keep anchor files/folders so they show up in GitHub
!data/.gitkeep
!data/external/
!data/external/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/processed/*.csv   # allow small processed CSVs you want to commit

# Notebooks & Python noise
.ipynb_checkpoints/
__pycache__/
.DS_Store
